body {
  text-align:center;
  width:500px;
  background-color: #708090;
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: medium;
}

.container {
display: flex;
flex-direction: column;
align-items: center;
}

input[type=checkbox]{
  display: flex;
  justify-content: center;
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 50px;
  background: rgb(198, 193, 193);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: linear-gradient(#60cde0, #eaa5ae);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 100px;
}
